@model System.Collections.Generic.List<PageTransitions.PersonInfo>
@{
    ViewBag.Title = "Index";
}

<h2>Javascript Templating</h2>

<ul id="peeplist">
@foreach (var personInfo in Model)
{
    <li>
        <p>
            <a href="/javascripttemplating/edit/@personInfo.Id" class="edit" data-template="/scripts/text.js!/scripts/Templates/JavascriptTemplating/edit.htm">Edit</a> - 
            <a href="/javascripttemplating/view/@personInfo.Id" class="view" data-module="/scripts/Templates/JavascriptTemplating/view.js">View</a> - @personInfo.Name
        </p>
    </li>
}
</ul>

<a href="/javascripttemplating/normalnonfunkyview">View Regular Page</a>



<script type="text/javascript">
    $(document).ready(function () {
        $('#peeplist a.edit').ajaxifyLink('section.content-wrapper');
        $('#peeplist a.view').ajaxifyLink('section.content-wrapper');
    });
</script>
