@model System.Collections.Generic.List<PageTransitions.PersonInfo>
@{
    ViewBag.Title = "Index";
}

<h2>History js</h2>

<ul id="peeplist">
@foreach (var personInfo in Model)
{
    <li>
        <p><a href="/historyjs/edit/@personInfo.Id" class="edit">Edit</a> - <a href="/historyjs/view/@personInfo.Id" class="view">View</a> - @personInfo.Name</p>
    </li>
}
</ul>

<a href="/historyjs/normalnonfunkyview">View Regular Page</a>

<script type="text/javascript">

    $(document).ready(function () {
        $('#peeplist a.edit').ajaxifyLink('section.content-wrapper');
        $('#peeplist a.view').ajaxifyLink('section.content-wrapper');
    });
    
</script>
