@model PageTransitions.PersonInfo
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@Html.DisplayForModel()

<p><a class="edit" href="/historyjs/edit/@Model.Id">Edit</a></p>
<a href="/historyjs/normalnonfunkyview">View Regular Page</a>
<a class="backToList" href="/hardcore/index">Back To List</a>

<script type="text/javascript">

    $(document).ready(function () {
        $('a.edit').ajaxifyLink('section.content-wrapper');
        $('a.backToList').ajaxifyLink('section.content-wrapper');
    });
    
</script>
