@{
    ViewBag.Title = "Home Page";
}


<h3>So...Page Transitions</h3>

<p>How are we going to do page transitions on superphones? Well, here are my experiments.</p>

<ul>
  <li>@Html.ActionLink("Baseline", "Index", "Baseline") - normal boring way of linking pages and such</li>
  <li>@Html.ActionLink("Hardcore", "Index", "Hardcore") - few libraries and straight javascript</li>
  <li>jQuery Mobile</li>
</ul>